/* GENRAL STYLE */
*{
    font-family: 'El Messiri', sans-serif;
}

.shading{
    background-color: #21252941;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
}


h2{
    font-size: 26pt;
    padding: 10px 15px;
    cursor: pointer;
}

p{
    font-size: 18pt;
    text-align: right;
}
/* nav style */
#secoundColor{
    color: #8bc34a;
}
.navbar-brand{
    font-size: 22pt;
}

.nav-link{
    font-size: 14pt;
}

.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover{
    color: #8bc34a;
}

/* head Style */
.header .carousel-item{
    max-height: 100vh;
}

.header .carousel-item img{
    background-size:contain;
}
.header .carousel-inner{
    position: relative;
}

.header .carousel-inner .carousel-caption, .contant{
    text-align: right;
    position: absolute;
    top: 42%;
    right: 12%;
    z-index: 2;
}
.header .carousel-inner .carousel-caption h2{
    width: fit-content;
    border-radius: 10px;
    background-color:#212529 ;
}

/* Start Section About */

#about{
    margin: 60px auto;
}

#about h2 ,.mainSaid h2{
    padding: 0;
    font-weight: bold;
    margin-bottom: 15px;
    color: #212529;
}

#about p{
    color: #689238;
}


/* our Services Section */

#ourServices h2{
    color: #212529;
}

#ourServices .card{
    margin-top: 50px;
    height: 450px;
    width: 100%;
    border-radius: 15px;
}

#ourServices .card-img{
    height: 220px;
    background-size:cover;
    background-position:center ;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}


#ourServices .card-img1{
    background-image: url(../images/MassageBath.jpg);
}

#ourServices .card-img2{
    background-image: url(../images/Massage.jpg);
}
#ourServices .card-img3{
    background-image: url(../images/Pedicure.jpg);
}
#ourServices .card-img4{
    background-image: url(../images/DeepTissueMassage.jpg);
}

#ourServices .card-body h5{
    font-size: 16pt;
    color: #689238;
    margin-bottom: 25px;
    position: relative;
}

#ourServices .card-body{
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

#ourServices .card-body p{
    font-size:14pt;
    text-align: center;
}

#ourServices .card-body .btn{   
    outline: none;
    position: absolute;
    min-width: 33%;
    bottom: 20px;
    right: 30%;
}

/* clients */

.clients .carousel-inner{
    background-color: #212529;
    min-height: 200px;
    margin-top: 40px;
}

.carousel-inner h2{
    color: #8bc34a;
    text-align: center;
    margin-top: 30px;
}
.clients span{
    color: #8bc34a;
    font-weight: bold;
}

.clients p{
    margin: 25px 50px 50px;
    color: white;
}

/* social */

.social .fa{
    margin-top: 15px;
    font-size: 40pt;
    padding: 25px;
    color: #21252996;
    border-radius:15px ;
    transition: all ease-in-out 0.3s;
}

.fa:hover
{
    color: 	#111315;

}
/* footer */

footer{
    background-color: #111315;
    color: #8bc34a;
    text-align: center;
    padding: 10px;
}

footer h2{
    margin: 0;
}

footer h2 span{
    color: white;
}


/* bath */
.bath{
    background-size: cover;
    height: 100vh;
    padding: 0 ;
}


/* mainSaid */


.mainSaid{
    width: 100%;
    height: 100%;
    padding: 120px;
    padding-top: 170px;
    text-align: center;
    background-size:cover ;
}

.back1{
    background-image: url(../images/bathback.jpg);  
}

.back2{
    background-image: url(../images/bathback2.jpg);  
}

.back3{
    background-image: url(../images/bathback3.jpg);  
}

.back4{
    background-image: url(../images/DeepMassageBack.jpg);  
}
.mainSaid h2{
    color: #8bc34a;
    background-color: #2125297c;
    padding: 15px;
    width: fit-content;
    border-radius: 15px;
    display: block;
    margin: 20px auto;
}

.mainSaid p{
    color: white;
    text-align: center;
    border-radius: 15px;
    background-color: #2125297c;
    padding: 15px;
}

.openForm{
    display: block;
    margin: 20px auto;
    font-size: 18pt;
}

.btn-outline-success{
    color: #8bc34a;
    border: 2px solid #8bc34a;
    outline: none;
}

.btn-outline-success:hover{
    border: 2px solid #8bc34a;
    background-color: #8bc34a;
    color: white;
}

.toast{
    background-color:   #212529;
    color: #8bc34a;
    width: fit-content;
    padding-left: 50px;
}



