/* Mobile and tableat */
@media (max-width: 767px){
    .header .carousel-item{
        min-height:350px ;
        background-size:cover ;
    }

    .carousel-item img{
        min-height:350px ;
        background-size:contain ;
    }
    .header .carousel-inner .carousel-caption{
        top: 42%;
        right: 5%;
    }
    .carousel-inner p{
        font-size: 14pt;
    }

    .carousel-inner h2{
        font-size: 18pt;
    }

    #about p{
        font-size: 16pt;
        text-align: center;
    }
    
    .clients .carousel-item p{
        font-size: 14pt ;
    }

    .social .fa{
        font-size: 30pt;
        padding: 0; 
    }

    .mainSaid{
        padding: 20vh 20px;
    }

    .bathBack{
        background-image: url(../images/bath/bathbackMobile.jpg);  
    }

    .massageBack , .deepMassageBack{
        background-image: url(../images/Massage/MassagebackMobile.jpg);  
    }

    .deepMassageBack p{
        font-size: 16pt;
    }

    .deepMassageBack h2{
        font-size: 22pt;
    }
    .pedicaureBack{
        background-position:40% 0%; 
    }
    
    #ourServices .card-body .btn{
        right: 33%;
    }
}


/* Small screens, laptops */
@media (min-width:768px) and (max-width:991px){
    #ourServices .card-body .btn{
        right: 33%;
    }
}



/* mediaum secreen */
@media (min-width:992px) and( max-width:1199px){

}


/* larg secreen */
@media (min-width:1200px){

}
